
div#notebook p, div#notebook{
    font-size: 110%;
}

.rendered_html pre, .rendered_html table{
    font-size:110%;
}

.CodeMirror, .CodeMirror pre, .CodeMirror-dialog, .CodeMirror-dialog .CodeMirror-search-field, .terminal-app .terminal {
    font-size: 110%;
}
